{
  "semi": false,
  "singleQuote": true,
  "arrowParens": "always",
  "trailingComma": "none",
  "endOfLine": "auto",
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "pluginSearchDirs": false
}
