@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a,
  button {
    @apply select-none
  }
}

html,
body {
  font-family: 'Inter', sans-serif;
}

.onPress {
  @apply cursor-pointer active:translate-y-0.5;
}

.react-calendar {
  width: 300px !important;
  max-width: 100%;
  background-color: #fff;
  color: #1f2024;
  font-weight: 600;
  border-radius: 4px;
  border: 0 !important;
  box-shadow: 0px 0px 13px -4px rgba(255, 255, 255, 0.12);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

@media (max-width: 360px) {
  .react-calendar {
    width: 280px !important;
  }
}

.react-calendar button {
  width: 36px !important;
  height: 36px !important;
  border-radius: 4px !important;
}

.react-calendar__navigation__label__labelText,
.react-calendar__navigation__label__labelText--from span {
  font-size: 0.9rem !important;
}

.react-calendar__navigation button {
  color: #0f48a3 !important;
  min-width: 44px !important;
  background: none;
  font-size: 16px;
  margin-top: 8px;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #a2c2f6 !important;
  border-radius: 4px;
}

.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
  border-radius: 4px;
}
abbr[title] {
  text-decoration: none;
}
.react-calendar__month-view__days__day--weekend {
  color: #5b21b6 !important;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #a2c2f6 !important;
  /* color: #0F48A3 !important; */
  border-radius: 4px;
}
.react-calendar__tile--now {
  background: #15803d !important;
  border-radius: 100% !important;
  font-weight: bold;
  color: white !important;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #15803d !important;
  border-radius: 12px;
  font-weight: bold;
  color: white !important;
}
.react-calendar__tile:disabled {
  opacity: 0.5;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a2c2f6 !important;
}
.react-calendar__tile--active {
  background: #0f48a3 !important;
  border-radius: 100% !important;
  font-weight: bold;
  color: white !important;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #0f48a3 !important;
  color: white !important;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #a2c2f6 !important;
}
.react-calendar__tile--range {
  background: #eaf2ff;
  color: #0f48a3 !important;
  border-radius: 0;
  color: white !important;
}
.react-calendar__tile--rangeStart {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: #0f48a3 !important;
  color: white !important;
}
.react-calendar__tile--rangeEnd {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: #0f48a3 !important;
  color: white !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.loader-spin {
  border: 5px solid rgb(255, 255, 255, 0.45);
  border-top-color: #0f48a3;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.css-1dimb5e-singleValue {
  color: #000 !important;
}
.dark .css-1dimb5e-singleValue {
  color: #fff !important;
}

/* Configuração do ag-grid-react */

.ag-theme-alpine {
  --ag-foreground-color: #000 !important;
  --ag-background-color: #fff !important;
  --ag-header-foreground-color: #fff !important;
  --ag-secondary-foreground-color: #000 !important;
  --ag-border-color: rgb(122,122,122, 0.2) !important;
  --ag-cell-horizontal-border: 3px solid rgb(122,122,122, 0.2) !important;
  --ag-header-background-color: #0f48a3 !important;
  --ag-odd-row-background-color: #f2f2f2 !important;
  --ag-header-column-resize-handle-color: #000 !important;

  --ag-header-cell-hover-background-color: rgb(15, 72, 163, 0.5) !important;
  --ag-header-cell-moving-background-color: rgb(15, 72, 163, 0.5) !important;
  --ag-row-hover-color: rgb(15, 72, 163, 0.18) !important;

  --ag-font-size: 14px !important;
  --ag-header-column-separator-display: block !important;
  --ag-header-column-separator-color: #fff !important;
  --ag-icon-size: 20px !important;
  --ag-header-height: 34px !important;
  --ag-row-height: 34px !important;
  --ag-cell-horizontal-padding: 8px !important;
  --ag-borders-input: solid 2px !important;
  --ag-input-border-color: #0f48a3 !important;
}

.dark .ag-theme-alpine {
  --ag-foreground-color: #fff !important;
  --ag-background-color: #0d0d0d !important;
  --ag-header-foreground-color: #fff !important;
  --ag-secondary-foreground-color: #fff !important;
  --ag-border-color: rgb(122,122,122, 0.2) !important;
  --ag-row-border-color: rgb(122,122,122, 0.2) !important;
  --ag-cell-horizontal-border: 3px solid rgb(122,122,122, 0.2) !important;  
  --ag-header-background-color: #0f48a3 !important;
  --ag-odd-row-background-color: #262626 !important;
  --ag-header-column-resize-handle-color: rgb(122,122,122, 0.2) !important;

  --ag-header-cell-hover-background-color: #0f48a3 !important;
  --ag-header-cell-moving-background-color: rgb(122,122,122, 0.2) !important;
  --ag-row-hover-color: rgb(122,122,122, 0.1) !important;

  --ag-font-size: 14px !important;
  --ag-header-column-separator-display: block !important;
  --ag-header-column-separator-color: rgb(122,122,122, 0.2) !important;
  --ag-icon-size: 20px !important;
  --ag-header-height: 34px !important;
  --ag-row-height: 34px !important;
  --ag-cell-horizontal-padding: 8px !important;
  --ag-borders-input: solid 2px !important;
  --ag-input-border-color: #0f48a3 !important;
}


.ag-cell-label-container .ag-icon {
  color: #fff;
}

.ag-root-wrapper {
  border-radius: 6px;
  font-weight: 500 !important;
  height: calc(100vh - 10rem);
  box-shadow: 0px 5px 3px -2px rgb(122,122,122, 0.1);
}

.ag-center-cols-clipper {
  overflow-y: scroll;
}

.ag-header-cell-menu-button:not(.ag-header-menu-always-show) {
  opacity: 100% !important;
}

.css-feonkk-Input2 {
  color: #000 !important; 
}

.dark .css-feonkk-Input2 {
  color: #fff !important; 
}

.css-w9q2zk-Input2 {
  border: 0 !important;
}